/*custom css begins*/
    
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    text-align: left;
    color: rgb(94, 92, 92);
    background-color: rgb(209, 207, 207);    
}

header {
  color: #777;
  background: #fff;
}

img {
  float: left;
  margin-right: 10px;
}



/* custom css ends */

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: darkgreen;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

h2,
h3 {
  font-size: 22px;
}

/* general ends */

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: auto;
  overflow: auto;
  color: #ffffff;
  background: #fff;
  border-bottom: 2px solid #cccccc;
}

#logo {
  float: left;
  width: 300px;
  height: 90px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: darkred;
}

nav {
  float: right;
  margin-top: 25px;
  margin-right: 60px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #777;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/*custom css begins*/

a {
    color: #777;
    text-decoration-line: none;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: darkred;
}

a:active {
    color: mediumblue;
}

/* footer */

footer {
  padding: 5px 0;
  clear: both;
  font-size: 16px;
  color: #ffffff;
  
  text-align: center;
  background: darkgreen;
  border-top: 8px solid darkred;
  height: 50px;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

 /* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: darkgreen;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: darkred;
  border: 0 none;
}

/*put parts to change with screen size below?*/

@media screen and (max-width: 980px) {

  body {
    background-color: rgb(209, 207, 207);
  }

  #masthead {
    margin-top: -8px;
  }

  .wrapper {
    width: 650px;
  }
  
}
@media screen and (max-width: 768px) {

  body {
    background-color: rgb(209, 207, 207);
  }

  img {
    width: 50%;
  }

  #masthead {
    margin-top: -8px;
  }

  .wrapper {
    width: 100%
    padding-left: 15px;
    padding-right: 15px;
  }
 

}
@media screen and (max-width: 640px) {

  body {
    background-color: rgb(209, 207, 207);
  }
  img {
    float: none;
    width: 100%;
  }

  #masthead {
    margin-top: -33px;
  }

  nav {
    float: none;
    text-align: center;
   
  }

  #logo {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

}